{% if site.member %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>Organization</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="stackScore">
				<a target='_blank' href="{{site.member.profileurl}}">
					<img src="{{site.member.organization}}" width="208" height="58"
						alt="org, Q&amp;A for professional and enthusiast programmers"
						title="org, Q&amp;A for professional and enthusiast programmers">
				</a>
			</div>
		</div>
	</div>
{% endif %}
