{% if site.youtube %}
	<div id="coursesBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1><a target='_blank' href="{{site.youtube.profileurl}}">Youtube</a></h1>
		</div>
		<div class="content-rounded-panel">
			<div id="youtubePanel">
				{% for videos in site.youtube.videos %}
				<div class="row">
					{% if videos.optionalimage %}
						<div class="col-sm-5">
							<img src="{{videos.optionalimage}}">
						</div>
					{% endif %}
					<div class="col-sm-6">
						<a target='_blank' href="{{videos.link}}">
							{{videos.title}}
						</a><br/>
						<i>{{videos.date}}</i>
					</div>
				</div><br/>
				{% endfor %}
			</div>
		</div>
	</div>
{% endif %}
